* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}

h2 {
  margin-top: 5px;
  font-size: 22px;
  line-height: 22px;
  word-break: break-all;
  margin-bottom: 10px;
}

img {
  max-width: 150px;
}

.cards {
  background: #eee;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background: #fff;

  max-width: 470px;
  max-height: 300px;

  margin-bottom: 10px;

  border: 2px solid #aaa;
  border-radius: 5px;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.card__text {
  overflow: auto;
  word-break: break-all;
  line-height: 22px;
  font-size: 16px;
}

.card__content {
  display: flex;
  overflow: auto;
  word-break: break-all;
  flex-basis: 100%;
}

.card__img {
  padding: 5px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 5px;
  padding-bottom: 10px;
}

li {
  font-weight: bold;
  margin-right: 10px;
}