* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}

.cards {
  background: #eee;
  display: flex;
  /* align-items: stretch; */

  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: block;
  box-sizing: border-box;
  background: #fff;

  max-width: 470px;
  max-height: 300px;

  border: 2px solid #aaa;
  border-radius: 5px;
  padding: 5px;

  overflow: auto;
  word-break: break-all;

  margin-bottom: 10px;
}